:root {
  --color-primary-light: #ffd257;
  --color-primary: #FFC935;
  --color-primary-dark: #ffbb02;
  --color-grey: #383838;
  --color-grey-light: #DDD;
  --color-grey-dark: #383838; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  background-image: linear-gradient(to right top, #FBFBFD, #BCBDBF);
  background-position: cover;
  min-height: 100vh; }

.question__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 60%;
  background-color: rgba(221, 221, 221, 0.7);
  border-radius: 3px;
  padding: 2rem;
  box-shadow: 0rem 0rem 5rem var(--color-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.question__text, .question__answer, .question__button {
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px; }

.question__text {
  background-color: var(--color-primary);
  font-size: 3rem; }

.question__checkbox {
  display: none; }
  .question__checkbox:checked + .question__answer {
    background-color: var(--color-primary); }

.question__answer {
  background-color: white;
  font-size: 2rem;
  transition: all .7s; }
  .question__answer:hover {
    background-color: var(--color-primary-dark);
    transform: scale(1.04);
    color: white;
    box-shadow: 0.5rem 0.5rem 5rem rgba(0, 0, 0, 0.4); }

.question__button {
  background-color: var(--color-primary);
  font-size: 1rem;
  border: none;
  transition: all .7s; }
  .question__button:hover {
    background-color: white;
    transform: scale(1.04);
    box-shadow: 0.5rem 0.5rem 5rem rgba(0, 0, 0, 0.4); }

.fail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  background-color: rgba(221, 221, 221, 0.9);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0rem 0rem 5rem var(--color-grey);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .fail__text {
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 3px;
    margin-bottom: 1.5rem; }
  .fail__button {
    background-color: transparent;
    border: none;
    backface-visibility: hidden; }
    .fail__button svg {
      width: 50px;
      height: 50px;
      backface-visibility: hidden;
      transition: all .7s; }
    .fail__button:hover svg {
      fill: var(--color-primary);
      transform: scale(1.04) rotateZ(90deg); }

.grid {
  width: 70vw;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas: "image image image profile profile profile profile" "image image image profile profile profile profile" "image image image profile profile profile profile" "name name name education education education education" "name name name education education education education" "contact contact contact education education education education" "contact contact contact education education education education" "contact contact contact experience experience experience experience" "contact contact contact experience experience experience experience" "hobbies hobbies hobbies skills skills skills skills" "hobbies hobbies hobbies skills skills skills skills" "hobbies hobbies hobbies skills skills skills skills"; }

.cv__box {
  border: 2px solid black; }

.cv__image {
  grid-area: image;
  padding: 2rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center; }
  .cv__image--wrapper {
    width: 25rem;
    height: 25rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 600px) {
      .cv__image--wrapper {
        width: 20rem;
        height: 20rem; } }
  .cv__image--image {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    border: 0.5rem solid var(--color-primary);
    padding: .5rem; }

.cv__name {
  grid-area: name;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-primary); }
  .cv__name--job {
    display: block;
    font-size: 2rem;
    letter-spacing: 3px;
    color: var(--color-primary);
    padding: 1rem;
    background-color: var(--color-grey-dark); }

.cv__contact {
  grid-area: contact;
  background-color: var(--color-primary); }
  .cv__contact--contact {
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 3rem 0; }
  .cv__contact--item {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .cv__contact--item:not(:last-child) {
      margin-bottom: 2rem; }
  .cv__contact--icon {
    background-color: var(--color-grey-dark);
    padding: .7rem .7rem .5rem 8rem;
    margin-right: 1rem; }
    .cv__contact--icon svg {
      width: 3.5rem;
      height: 3.5rem;
      fill: var(--color-primary); }
  .cv__contact--info {
    font-size: 1.5rem;
    letter-spacing: 2px; }

.cv__hobbies {
  grid-area: hobbies;
  background-color: var(--color-primary); }
  .cv__hobbies--hobbies {
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 3rem 0; }
  .cv__hobbies--row {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .cv__hobbies--row:not(:last-child) {
      margin-bottom: 2rem; }
    .cv__hobbies--row:nth-child(3) {
      margin-bottom: 5rem; }
    .cv__hobbies--row span {
      font-size: 1.5rem; }
  .cv__hobbies--item {
    display: flex;
    align-items: center; }
  .cv__hobbies--icon {
    background-color: var(--color-grey-dark);
    padding: .7rem .7rem .5rem .7rem;
    margin-right: 2rem; }
    .cv__hobbies--icon svg {
      width: 4rem;
      height: 4rem;
      fill: var(--color-primary); }
  .cv__hobbies--info {
    font-size: 1.5rem;
    letter-spacing: 2px; }

.cv__profile {
  grid-area: profile; }

.cv__education {
  grid-area: education; }

.cv__experience {
  grid-area: experience; }

.cv__skills {
  grid-area: skills; }

@media (max-width: 1200px) {
  html {
    font-size: 50%; }
  .grid {
    width: 80vw; } }

@media (max-width: 900px) {
  .grid {
    width: 90vw;
    grid-template-areas: "image image image name name name name" "image image image name name name name" "image image image name name name name" "contact contact contact contact contact contact contact" "contact contact contact contact contact contact contact" "contact contact contact contact contact contact contact" "contact contact contact contact contact contact contact" "profile profile profile profile profile profile profile" "profile profile profile profile profile profile profile" "profile profile profile profile profile profile profile" "education education education education education education education" "education education education education education education education" "education education education education education education education" "education education education education education education education" "experience experience experience experience experience experience experience" "experience experience experience experience experience experience experience" "skills skills skills skills skills skills skills" "skills skills skills skills skills skills skills" "skills skills skills skills skills skills skills"                         "hobbies hobbies hobbies hobbies hobbies hobbies hobbies"; }
  .cv__name {
    line-height: 1.5;
    font-size: 4rem; }
    .cv__name--name {
      margin-top: 1.5rem; }
  .cv__contact--item {
    justify-content: space-between;
    width: 55%;
    margin: 0 auto 2rem auto; }
  .cv__contact--icon {
    padding: .7rem .7rem .5rem .7rem; }
    .cv__contact--icon svg {
      width: 5rem;
      height: 5rem;
      fill: var(--color-primary); }
  .cv__contact--info {
    font-size: 2.5rem; } }

@media (max-width: 700px) {
  .grid {
    width: 100vw;
    margin: 0; }
  .cv__name {
    font-size: 3rem; }
  .cv__contact--icon {
    padding: .6rem .6rem .4rem .6rem; }
    .cv__contact--icon svg {
      width: 4.5rem;
      height: 4.5rem;
      fill: var(--color-primary); }
  .cv__contact--info {
    font-size: 2.2rem; } }

@media (max-width: 450px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "image " "name" "contact" "profile" "education " "experience " "skills "                       "hobbies"; }
  .cv__contact--info {
    font-size: 2rem; } }

@media (max-width: 450px) {
  .cv__contact--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
    width: 80%; } }
