.grid {
    width: 70vw;
    margin: 5rem auto;
    display: grid;
    // grid-template-columns: repeat(7, 1fr);
    // grid-template-rows: repeat(11, 1fr);
    // grid-template-areas:"image image image profile profile profile profile"
    //                     "image image image profile profile profile profile"
    //                     "image image image profile profile profile profile"
    //                     "name name name education education education education"
    //                     "name name name education education education education"                       
    //                     "contact contact contact education education education education"
    //                     "contact contact contact experience experience experience experience"
    //                     "contact contact contact experience experience experience experience"
    //                     "hobbies hobbies hobbies skills skills skills skills"
    //                     "hobbies hobbies hobbies skills skills skills skills"
    //                     "hobbies hobbies hobbies skills skills skills skills";  

    //grid-template-columns: 1fr 1fr;
    //grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:"image  profile"                        
                        "name education"                    
                        "contact experience"                        
                        "hobbies skills";
    box-shadow: 1rem 1rem 3rem #383838;
}

.cv {
    &__image {
        grid-area: image;
        padding: 2rem;
        background-color: var(--color-primary);
        display: flex;
        justify-content: center;
        align-items: center;

        &--wrapper {         
            width: 30rem;
            height: 30rem;
            background-color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 600px) {
                width: 20rem;
                height: 20rem;
            }            
        }

        &--image {
            background-image: url('../image/person.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 95%;
            height: 95%;
            border-radius: 50%;
            border: .5rem solid var(--color-primary);
            padding: .5rem;
            align: middle;
        }
    }

    &__name {
        grid-area: name;
        text-align: center;
        color: var(--color-grey-dark);        
        font-size: 3rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 1.3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--color-primary);

        &--job {
            display: block;
            font-size: 3.5rem;
            font-style: italic;
            font-weight: 400;
            letter-spacing: 3px;
            color: var(--color-primary);
            padding: .5rem;
            margin: 3rem 0;
            background-color: var(--color-grey-dark);
        }
    }

    &__contact {
        grid-area: contact;
        background-color: var(--color-primary);
        color: var(--color-grey-dark);

        &--contact {
            text-align: center;
            font-size: 3.5rem;            
            letter-spacing: 1.5px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.5;
            margin: 1rem 0;
        }

        &--item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }            
        }

        &--icon {
            background-color: var(--color-grey-dark);
            padding: .7rem .7rem .5rem 8rem;
            margin-right: 1rem;
            
            svg {
                width: 3.5rem;
                height: 3.5rem;
                fill: var(--color-primary);
            }
        }

        &--info {
            font-size: 1.5rem;
            letter-spacing: 2px;            
        }
    }

    &__hobbies {
        grid-area: hobbies;
        background-color: var(--color-primary);
        color: var(--color-grey-dark);


        &--hobbies {
            text-align: center;
            font-size: 3.5rem;
            letter-spacing: 3px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.5;
            margin: 2rem 0 3rem 0;
        }

        &--row {
            display: flex;
            align-items: center;
            justify-content: space-around;
            

            &:not(:last-child) { margin-bottom: 2rem;}
            &:nth-child(3) {margin-bottom: 5rem;}

            span {font-size: 1.5rem;}
        }

        &--item {
            display: flex;
            align-items: center;
        }

        &--icon {
            background-color: var(--color-grey-dark);
            padding: .7rem .7rem .5rem .7rem;
            margin-right: 2rem;

            svg {
                width: 4rem;
                height: 4rem;
                fill: var(--color-primary);
            }
        }

        &--info {
            font-size: 2rem;
            letter-spacing: 1px;
        }
    }    

    &__profile {
        grid-area: profile;
        padding: 4rem 0 0 3rem;
        background-color: white;

        &--text {
            font-size: 1.3rem;
            letter-spacing: 1px;
            text-align: left;
            padding: 1rem 2rem 1rem 0;

            &:nth-child(2) {margin-top: 2rem;}
            
        }
    }

    &__education {
        grid-area: education;
        padding: 2rem 0 0 3rem;
        background-color: white;

        &--timeline {
            padding: 1.5rem;
            border-left: 3px solid var(--color-primary);
            margin: 3rem 0;

            h3 {
                font-size: 1.7rem;
                font-weight: bold;
                text-transform: uppercase;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 15%;
                    left: -26px;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-color: var(--color-primary);

                    @media (max-width: 1200px) {left: -21.05px;}
                    @media (max-width: 900px) {left: -21.5px;}
                    @media (max-width: 500px) {left: -21px;}
                }
            }

            h4 {
                font-size: 1.2rem;
                font-weight: bold;

                @media (max-width: 1200px) {font-size: 1.7rem;}
                @media (max-width: 900px) {font-size: 2.1rem;;}
                @media (max-width: 500px) {font-size: 2.4rem;}
            }

            h5 {
                font-size: 1.3rem;
            }

            p {
                font-size: 1.2rem;
                letter-spacing: 1px;
                
                &:not(:last-child) {margin-bottom: 2rem;}

                @media (max-width: 1200px) {font-size: 1.7rem;}
                @media (max-width: 900px) {font-size: 2.1rem;;}
                @media (max-width: 500px) {font-size: 2.4rem;}
            }
        }
    }

    &__experience {
        grid-area: experience;
        padding: 1rem 0 0 3rem;
        background-color: white;
    }

    &__skills {
        grid-area: skills;
        padding: 2rem 0 0 3rem;
        background-color: white;

        &--grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 4rem 2rem;
            margin: 4rem 3rem 3rem 3rem;
            justify-items: center;           
        }

        &--item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.3rem;
            text-transform: uppercase;           
        }

        &--chart {
            position: relative;
            width: 80px;
            height: 80px;
            line-height: 8rem;
            margin-right: 1rem;
            font-weight: bold;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            
            canvas {
                position: absolute;
                top: 0;
                left: 0;
            }              
        }
    } 
}

.white_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;

    &__icon {
        display: inline-block;
        fill: var(--color-primary);
        width: 7.5rem;
        height: 7.5rem;
        margin-right: 4rem;
    }

    &__header {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 1rem;
        background-color: var(--color-grey-dark);
        font-size: 3.5rem;
        font-weight: 300;        
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}