.grid {
    width: 70vw;
    margin: 5rem auto;
    //min-height: 100vh;
    //position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:"image image image profile profile profile profile"
                        "image image image profile profile profile profile"
                        "image image image profile profile profile profile"
                        "name name name education education education education"
                        "name name name education education education education"
                        "contact contact contact education education education education"
                        "contact contact contact education education education education"
                        "contact contact contact experience experience experience experience"
                        "contact contact contact experience experience experience experience"
                        "hobbies hobbies hobbies skills skills skills skills"
                        "hobbies hobbies hobbies skills skills skills skills"
                        "hobbies hobbies hobbies skills skills skills skills";
    

   
}

.cv {

    &__box {
        border: 2px solid black;
    }    

    &__image {
        grid-area: image;
        padding: 2rem;
        background-color: var(--color-primary);
        display: flex;
        justify-content: center;
        align-items: center;

        &--wrapper {         
            width: 25rem;
            height: 25rem;
            background-color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 600px) {
                width: 20rem;
                height: 20rem;
            }
            
        }

        &--image {
            width: 95%;
            height: 95%;
            border-radius: 50%;
            border: .5rem solid var(--color-primary);
            padding: .5rem;
        }
    }

    &__name {
        grid-area: name;
        text-align: center;
        font-size: 3rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 1.3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--color-primary);

        &--name {
            
        }

        &--surname {
            
        }

        &--job {
            display: block;
            font-size: 2rem;
            letter-spacing: 3px;
            color: var(--color-primary);
            padding: 1rem;
            background-color: var(--color-grey-dark);
        }
    }

    &__contact {
        grid-area: contact;
        background-color: var(--color-primary);

        &--contact {
            text-align: center;
            font-size: 3.5rem;
            letter-spacing: 3px;
            text-transform: uppercase;
            line-height: 1.5;
            margin: 3rem 0;
        }

        &--item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            

            &:not(:last-child) {
                margin-bottom: 2rem;
            }            
        }

        &--icon {
            background-color: var(--color-grey-dark);
            padding: .7rem .7rem .5rem 8rem;
            margin-right: 1rem;
            
            svg {
                width: 3.5rem;
                height: 3.5rem;
                fill: var(--color-primary);
            }
        }

        &--info {
            font-size: 1.5rem;
            letter-spacing: 2px;
            
        }
    }

    &__hobbies {
        grid-area: hobbies;
        background-color: var(--color-primary);


        &--hobbies {
            text-align: center;
            font-size: 3.5rem;
            letter-spacing: 3px;
            text-transform: uppercase;
            line-height: 1.5;
            margin: 3rem 0;
        }

        &--row {
            display: flex;
            align-items: center;
            justify-content: space-around;
            

            &:not(:last-child) { margin-bottom: 2rem;}
            &:nth-child(3) {margin-bottom: 5rem;}

            span {font-size: 1.5rem;}
        }

        &--item {
            display: flex;
            align-items: center;
        }

        &--icon {
            background-color: var(--color-grey-dark);
            padding: .7rem .7rem .5rem .7rem;
            margin-right: 2rem;

            svg {
                width: 4rem;
                height: 4rem;
                fill: var(--color-primary);
            }
        }

        &--info {
            font-size: 1.5rem;
            letter-spacing: 2px;
        }
    }
    

    &__profile {
        grid-area: profile;
    }

    &__education {
        grid-area: education;
    }

    &__experience {
        grid-area: experience;
    }

    &__skills {
        grid-area: skills;
    } 
}