@media (max-width: 1200px) {
    html {font-size: 50%;}
    .grid {width: 80vw;}

    .cv__profile--text {font-size: 1.7rem;}

    // .cv__skills {
    //     &--grid {
    //         grid-gap: 6rem;
    //         grid-template-columns: 1fr 1fr;
    //         grid-template-rows: 1fr 1fr 1fr;
    //     }
        
    // }

    //.cv__skills--grid {margin: 6rem 5rem 0 6rem;}
}


@media (max-width: 900px) {
    .grid {
        width: 90vw;
        // grid-template-areas:"image image image name name name name"
        //             "image image image name name name name"
        //             "image image image name name name name"
        //             "contact contact contact contact contact contact contact"
        //             "contact contact contact contact contact contact contact"
        //             "contact contact contact contact contact contact contact"
        //             "contact contact contact contact contact contact contact"
        //             "profile profile profile profile profile profile profile"
        //             "profile profile profile profile profile profile profile"
        //             "profile profile profile profile profile profile profile"
        //             "education education education education education education education"
        //             "education education education education education education education"
        //             "education education education education education education education"
        //             "education education education education education education education"
        //             "experience experience experience experience experience experience experience"
        //             "experience experience experience experience experience experience experience"
        //             "skills skills skills skills skills skills skills"
        //             "skills skills skills skills skills skills skills"
        //             "skills skills skills skills skills skills skills"                        
        //             "hobbies hobbies hobbies hobbies hobbies hobbies hobbies";
        // }
        grid-template-areas:
                    "image name"
                    
                    "contact contact"
                    
                    "profile  profile"
                    
                    "education  education"
                   
                    "experience experience"
                    
                    "skills skills"                        
                    "hobbies hobbies";
        }
    .cv__name {
        line-height: 1.5;
        font-size: 4rem;

        &--name { margin-top: 1.5rem;}
    }

    .cv__contact {border-top: 2px solid var(--color-grey-dark);} //test

    .cv__contact--item {
        justify-content: flex-start;
        width: 55%;
        margin: 0 auto 2rem auto;    
    }

    .cv__contact--icon {
        padding: .7rem .7rem .5rem .7rem;

        svg {
            width: 5rem;
            height: 5rem;
            fill: var(--color-primary);
        }
    }

    .cv__contact--info {font-size: 2.5rem;}

    .cv__profile--text {
        font-size: 2rem;
        padding: 4rem 2rem 2rem 0;

        &:nth-child(3) {padding: 2rem 2rem 4rem 0;}
    }
}

@media (max-width: 700px) {
    .grid {
        width: 100%;
        margin: 0;
    }

    .cv__name {font-size: 3rem;}

    .cv__contact--icon {
        padding: .6rem .6rem .4rem .6rem;

        svg {
            width: 4.5rem;
            height: 4.5rem;
            fill: var(--color-primary);
        }
    }
    .cv__contact--info {font-size: 2.2rem;}
}

@media (max-width: 450px) {
    .grid {
        grid-template-areas:"image "
                            "name"
                            "contact"
                            "profile"
                            "education "
                            "experience "
                            "skills "                      
                            "hobbies";
        }

    .cv__contact {border-top: none;} //test
    .cv__contact--info {font-size: 2rem;}

    .cv__profile {
        padding: 0;
    
        &--text {
            font-size: 1.7rem;
            padding: 1rem;

            &:nth-child(3) {padding: 1rem;}
        }
    }

    .white_header {
        &__icon {display:none;}
        &__header{justify-content: center;}
    }

    .cv__education {
        padding: 2rem 0 0 0;

        &--timeline {margin-left: 3rem; }
    }

    .cv__experience {
        padding: 2rem 0 0 0;

        &--timeline {margin-left: 3rem; }
    }

    .cv__skills {
        padding: 2rem 0;

        &--grid {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            margin: 5rem 2rem;
        }
    }
}

@media (max-width: 450px) {
    .cv__contact--item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 
        margin-bottom: 2rem;
        width: 80%;  
    }
}



