:root {
    --color-primary-light: #ffd257;
    --color-primary: #FFC935;
    --color-primary-dark: #ffbb02;
    --color-grey: #383838;
    --color-grey-light: #DDD;
    --color-grey-dark: #383838;

    --time1: 1s;
    --time1-5: 1.5s;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {font-size: 62.5%;} //10px by default

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;
    background-image: linear-gradient(to right top, #FBFBFD, #BCBDBF);
    background-position: cover;
    min-height: 100vh;    
}
